<!DOCTYPE html>
<html lang="zh-cn" class="os_win7">
<head>
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="max-age=31536000" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>[A1601a]小婷的2016成长记录帖-20160122更新 - ScalersTalk成长会2016 - 群论坛</title>
    <meta name="keywords" content="[A1601a]小婷的2016成长记录帖-20160122更新">
    <meta name="description" content="0.可否介绍一下你自己。你的基本情况怎样？你是如何知道的成长会？你想在成长会收获什么？你使用下面这个模板，直接在表格里填写然后再加上一些其他你想填写的信息。&amp;nbsp;&amp;nbsp;                                                                                      事项    请填写内容    你的称呼  ...">
    <meta name="baidu-site-verification" content="Fu0Derq94Q" />
    <!--link rel="Shortcut Icon" href="http://cn.qzonestyle.gtimg.cn/qzone_v6/img/favicon.ico?max_age=31536000" type="image/x-icon" /-->
    <link href="http://dzqun.gtimg.cn/plaza/styles/app_qunbbs.css?v=20130806" rel="stylesheet">
    <link href="http://dzqun.gtimg.cn/plaza/styles/dialog.css?v=20130524" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/gb_card_out.css" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/qz_dialog.css" rel="stylesheet">
        <link href="http://dzqun.gtimg.cn/plaza/styles/style_mod.css?v=20130806" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/jquery.min.js?v=1.6.4"></script>
    <script type="text/javascript">
        var dzqunDomain = "http://dzqun.gtimg.cn";
        var siDomain = 'qzonestyle.gtimg.cn';
        var imgcacheDomain = 'qzs.qq.com';
        var IMGCACHE_DOMAIN = 'qzs.qq.com';
        var jq = jQuery.noConflict();
        
        jq(function(){
            window['_domDoneMark'] = new Date();
        });
        
        //var siDomain = 'cn.qzonestyle.gtimg.cn';
        var dzqunUin = 4865368;
        var S_NICK_URL = "309916014";
        var sId = 309916014;
        var _s_ = new Date(1473006637*1000);
        var g_NowTime = 1473006637;
        var CSRFToken = "89fb7c76";
        var qgcDomain = "qgc.qq.com";
        var uid = '0000kpHGW';
        var PAGEID = 'viewthread';
        var isGray = '0';
        var pageMod = '1';
        var isLive = 0;        // 所有页面的JS 请扩展当此对象中
        
        var QPJS = QPJS || {};
        
    </script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/common.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" src="http://qzonestyle.gtimg.cn/ac/qzfl/release/qzfl_for_qzone.js?max_age=31536000"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/qzfl.login.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://ui.ptlogin2.qq.com/js/ptloginout.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/template.min.js?v=1.0.0"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/main.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" id="sea" src="http://dzqun.gtimg.cn/plaza/scripts/seajs.js?v=20130603"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/jquery.QP.js?v=1.0.0"></script>
</head>
<body class="bg vthread private_channel">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="header">
        <div class="nav">
            <ul>
                <li class="font20 white"><a href="/" class="homeUrl">QQ群论坛<sup> Beta</sup></a></li>
                <li><a href="/my">我的频道</a></li>
           </ul>
            <ol>
                                <li id="msglink">
    <a id="msglink_a" href="javascript:;">消息</a>
    <div id="msgbox">
        <div class="top"></div>
        <div class="box_up"></div>
        <div class="box_main">
            <div class="box_pad">
                <div id="box_cnt">
                    <div id="msgloading"><i>加载中......</i></div>
                </div>
            </div>
        </div>
        <div class="box_set">
            <span class="ml" id="abortall"><a href="javascript:;">忽略全部</a></span>
            <span>|</span>
            <span><a href="/notice">查看已读</a></span>
            <span class="fr"><a href="/notice/setting">设置</a></span>
        </div>
    </div>
    <div id="msgtip" class="msgtip_bg" style="">0</div>
</li>
<script id="tmpl_notice" type="text/html">
<% for(i in noticeList) { %>
<% if (!isMsgExist(noticeList[i].bizkey)) { %>
<div id="<%= noticeList[i].bizkey%>"><%== noticeList[i].notice %></div>
<% } %>
<% } %>
</script>
<script type="text/javascript">
seajs.use('notice', function(notice) {
    notice.init();
});
</script>                <li><a href="/my" title="shawn">shawn</a></li>
                <li><a href="javascript:;" onclick="jq.QP.logoutConfirm()">退出</a></li>
                                <li> | </li>
                <li><a href="http://support.qq.com/discuss/984_1.shtml" id="support" target="_blank">反馈建议</a></li>
                <li><a href="http://kf.qq.com/menu/4877_1.html" id="kf" target="_blank">客服专区</a></li>
                                                          </ol>
        </div>
    </div>
    <script type="text/javascript">
        jq('#support').attr('href', jq('#support').attr('href') + '?SSTAG=' + window.location.href);
    </script><div class="title cl">
    <h1><a href="/309916014"><img  src="http://p.qlogo.cn/gh/330154429/330154429/100" alt="logo" /></a></h1>
    <dl>
    <p id="sitename"><a href="/309916014">ScalersTalk成长会2016</a>
                <img id="siteFav" src="http://dzqun.gtimg.cn/plaza/images/ico_lock.png" align="absmiddle" /><font class="xw0 xs2">只对群成员开放</font>    </p>
                <dd>QQ群 <b>1</b> | 主题 <b>976</b> | 成员 <b>1170</b></dd>
    </dl>
</div>
<form method="POST" autocomplete="off" name="modactions" id="modactions">
    <input type="hidden" name="CSRFToken" value="89fb7c76">
    <input type="hidden" name="gId" value="">
    <input type="hidden" name="fId" value="0">
    <input type="hidden" name="tId" value="329">
    <input type="hidden" name="threadIds[]" value="329">
</form>
    <div class="cl container nbgcolor nshadow">
        <!--主内容区开始 -->
        <div class="main nbgcolor nborder">
            <div class="thread_crumbs freewidth pbm bborder">
                <div class="crumbs"><a href="/309916014">ScalersTalk成长会2016</a> > <a href="/309916014/t/329">[A1601a...</a></div>            </div>
            <div class="cl top npd ptn" style="margin-top: 12px;margin-bottom: 7px;">
                <h2 class="xs5 textoverflow" id="threadtitle">[A1601a]小婷的2016成长记录帖-20160122更新</h2>
            </div>
            <div id="upMore" class="cl" style="display:none;"><img src="http://dzqun.gtimg.cn/plaza/images/common/loading_editor.gif"></div>
             <!--帖子列表开始 -->
            <div id="postlist">
                <div class="postblock" start="0" to="23">
                                                            <div id="post_19896">
                    <table id="pid19896" summary="pid19896" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="pls">
                                <div class="avatar"><img width="64px;" height="64px" src="http://shp.qlogo.cn/qgc_avatar/0001Fzta2/0001Fzta2/100" title="30/30"><img class="leveicon" src="http://dzqun.gtimg.cn/plaza/images/lv_2.gif" title="30/30"></div>
                            </td>
                            <td id="plc_19896" class="plc postContent">
                                <div class="post_top" class="po">
                                    <div class="topt fright">
                                                                                <span class="op_item" uid="0001Fzta2" pid="19896">
                                                                                                                        <a class="report" href="javascript:;">举报</a>                                                                                </span>
                                                                                <a href="javascript:;" class="rreplay" toPId="19896" pId="0">回复</a>
                                    </div>
                                    <p class="postinfo">
                                        <span class="postnum">21#</span><span class="gn " title="[S329]小婷-在线教育-">[S329]小婷-在线...</span>
                                                                                                                                                        <span class="posttime" title="2016-03-29 13:52:09">2016-03-29 13:52:09</span></p>
                                </div>
                                <div class="pct">
                                    <div class="pctmessage mbm xs2" style="">自从晚上不参与朗读群的朗读，这里的记录就断断续续的了，这一晃就断了快一个月了。<div>这段时间，上午的英语学习每周可以保证5天，每周三天瑜伽课程，基本保持比较稳定的节奏。娃晚上9点左右入睡，晚上会看会书，不过效率不高。<br /></div><div><br /></div><div>有时陪娃或者因为其他事项，会有时间空下来，却因为没有事先安排，反而不知道怎么处理好，我的时间管理能力确实是有待提高。</div><div><br /></div></div>
                                    <!--楼中楼-->
                                    <div id="replyFloorList_19896" class="replaylist">
                                        <div id="floorPre_19896">
                                                                                                                                </div>
                                        <div id="floorList_19896" style="display:none;">
                                        </div>
                                                                                <div class="replayitem nborder npb cl mtm floorReply" id="floorReply_19896_0" style="display:none;">
                                            <span><img class="hruser" width="40px" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/50"></span>
                                            <div class="rpost">
                                                    <div class="area">
                                                        <textarea rows="6" cols="80" name="rfContent" id="vrrmessage_19896_0" toPId="19896" pId="0" class="vrrmessage pt" tabindex="12" style="height:20px" placeholder="我来说一句"></textarea>
                                                    </div>
                                                    <div class="btns_out"><div class="btns mtn"><label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" id="rffastpostsubmit_19896_0" toPId="19896" pId="0" type="submit" disabled="disabled">回复</button></label></div></div>
                                            </div>
                                        </div>
                                                                            </div>
                                    <!--楼中楼-->
                                </div>
                                <div class="bopt mtm">
                                                                    </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                                                                            <div id="post_21955">
                    <table id="pid21955" summary="pid21955" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="pls">
                                <div class="avatar"><img width="64px;" height="64px" src="http://shp.qlogo.cn/qgc_avatar/000KHLuTG/000KHLuTG/100" title="785/1000"><img class="leveicon" src="http://dzqun.gtimg.cn/plaza/images/lv_5.gif" title="785/1000"></div>
                            </td>
                            <td id="plc_21955" class="plc postContent">
                                <div class="post_top" class="po">
                                    <div class="topt fright">
                                                                                <span class="op_item" uid="000KHLuTG" pid="21955">
                                                                                                                        <a class="report" href="javascript:;">举报</a>                                                                                </span>
                                                                                <a href="javascript:;" class="rreplay" toPId="21955" pId="0">回复</a>
                                    </div>
                                    <p class="postinfo">
                                        <span class="postnum">22#</span><span class="gn rn" title="[S756]ammy-医疗卫生-">[S756]ammy-医疗卫生-</span>
                                                                                                                                                        <span class="posttime" title="2016-04-05 19:03:37">2016-04-05 19:03:37</span></p>
                                </div>
                                <div class="pct">
                                    <div class="pctmessage mbm xs2" style=""><div>看得出，你是个很上进的 妈妈哦！其实我觉得，能真正把“全职妈妈”这份工作给做好的话，还真的不容易呢，不比上班族轻松哦！所以，我觉得你可以尝试放下心理上的一些负担，焦虑，或者社会价值感缺失的情绪，而是从各方面来提升自己，争取把全职妈妈这份工作做到最好，一样会给你带来很多成就感的。</div></div>
                                    <!--楼中楼-->
                                    <div id="replyFloorList_21955" class="replaylist">
                                        <div id="floorPre_21955">
                                                                                                                                </div>
                                        <div id="floorList_21955" style="display:none;">
                                        </div>
                                                                                <div class="replayitem nborder npb cl mtm floorReply" id="floorReply_21955_0" style="display:none;">
                                            <span><img class="hruser" width="40px" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/50"></span>
                                            <div class="rpost">
                                                    <div class="area">
                                                        <textarea rows="6" cols="80" name="rfContent" id="vrrmessage_21955_0" toPId="21955" pId="0" class="vrrmessage pt" tabindex="12" style="height:20px" placeholder="我来说一句"></textarea>
                                                    </div>
                                                    <div class="btns_out"><div class="btns mtn"><label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" id="rffastpostsubmit_21955_0" toPId="21955" pId="0" type="submit" disabled="disabled">回复</button></label></div></div>
                                            </div>
                                        </div>
                                                                            </div>
                                    <!--楼中楼-->
                                </div>
                                <div class="bopt mtm">
                                                                    </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                                                                            <div id="post_35280">
                    <table id="pid35280" summary="pid35280" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td class="pls">
                                <div class="avatar"><img width="64px;" height="64px" src="http://shp.qlogo.cn/qgc_avatar/002u28f1U/002u28f1U/100" title="692/1000"><img class="leveicon" src="http://dzqun.gtimg.cn/plaza/images/lv_5.gif" title="692/1000"></div>
                            </td>
                            <td id="plc_35280" class="plc postContent">
                                <div class="post_top" class="po">
                                    <div class="topt fright">
                                                                                <span class="op_item" uid="002u28f1U" pid="35280">
                                                                                                                        <a class="report" href="javascript:;">举报</a>                                                                                </span>
                                                                                <a href="javascript:;" class="rreplay" toPId="35280" pId="0">回复</a>
                                    </div>
                                    <p class="postinfo">
                                        <span class="postnum">23#</span><span class="gn rn" title="[S304]流水-管科-天津">[S304]流水-管科-...</span>
                                                                                                                                                        <span class="posttime" title="2016-07-07 16:36:06">2016-07-07 16:36:06</span></p>
                                </div>
                                <div class="pct">
                                    <div class="pctmessage mbm xs2" style=""><div><p><span style="font-family:宋体">做全职妈妈辛苦了。前两天去姐姐家里看了我的小外甥，真心觉得带孩子不容易。小孩儿安静的时候很乖巧，哭起来实在让人揪心，而且爸爸妈妈爷爷奶奶轮番上阵，才勉强把他哄好。教育子女是大事，你的付出会是值得的。</span><span></span></p></div></div>
                                    <!--楼中楼-->
                                    <div id="replyFloorList_35280" class="replaylist">
                                        <div id="floorPre_35280">
                                                                                                                                </div>
                                        <div id="floorList_35280" style="display:none;">
                                        </div>
                                                                                <div class="replayitem nborder npb cl mtm floorReply" id="floorReply_35280_0" style="display:none;">
                                            <span><img class="hruser" width="40px" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/50"></span>
                                            <div class="rpost">
                                                    <div class="area">
                                                        <textarea rows="6" cols="80" name="rfContent" id="vrrmessage_35280_0" toPId="35280" pId="0" class="vrrmessage pt" tabindex="12" style="height:20px" placeholder="我来说一句"></textarea>
                                                    </div>
                                                    <div class="btns_out"><div class="btns mtn"><label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" id="rffastpostsubmit_35280_0" toPId="35280" pId="0" type="submit" disabled="disabled">回复</button></label></div></div>
                                            </div>
                                        </div>
                                                                            </div>
                                    <!--楼中楼-->
                                </div>
                                <div class="bopt mtm">
                                                                    </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                                            </div>
            </div>
            <div id="downMore" class="cl" style="display:none;"><img src="http://dzqun.gtimg.cn/plaza/images/common/loading_editor.gif"></div>
            <div class="shareFloatDiv">
                <div class="qgcShare clearfix" stitle="[A1601a]小婷的2016成长记录帖-20160122更新" sdesc="0.可否介绍一下你自己。你的基本情况怎样？你是如何知道的成长会？你想在成长会收获什么？你使用下面这个模板，直接在表格里填写然后再加上一些其他你想填写的信息。                                       ...">
                    <div class="st_qzone"><img src="http://dzqun.gtimg.cn/plaza/images/share_qzone.png" /></div>
                    <div class="st_qqgroup"><img src="http://dzqun.gtimg.cn/plaza/images/share_qq.png" /></div>
                    <div class="st_tqq"><img src="http://dzqun.gtimg.cn/plaza/images/share_weibo.png" /></div>
                    <div class="st_tsina"><img src="http://dzqun.gtimg.cn/plaza/images/share_sina.png" /></div>
                    <div class="st_renren"><img src="http://dzqun.gtimg.cn/plaza/images/share_renren.png" /></div>
                </div>
            </div>
            <div class="page" style="width:auto;">
                <div id="pageModSet"><a href="javascript:;" title="切换为自动翻页">切换为自动翻页</a></div>                                <p>
                <a class="" href="/309916014/t/329?page=1" target='_top'><span>上一页</span></a><a class="c_tx" href="/309916014/t/329?page=1" target='_top' ><span>1</span></a><strong class="current">2</strong>
                </p>
                            </div>
            <div id="fix_postbox" class="mbm pbm" style="display:none">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="pls">
                            <div class="avatar">
                                                            <img width="64px;" height="64px" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/100">
                                                            <img class="leveicon" src="http://dzqun.gtimg.cn/plaza/images/lv_3.gif">                            </div>
                        </td>
                        <td id="plc_2" class="plc">
                            <div class="post_top" class="po">
                                <p class="postinfo">
                                                                    <span class="gn " title="[408]shawn-IT-SH">[408]shawn-IT-SH</span> <span class="utitle"></span>                                                                </p>
                            </div>
                            <div class="pct xs2 pbm cl">
                                                            <form id="fixEditorForm" method="post" autocomplete="off" action="/309916014/r/new/submit?tId=329">
                                <input type="hidden" value="89fb7c76" name="CSRFToken" id="replyCSRFToken">
                                <input type="hidden" value="true" name="replysubmit">
                                <div class="area">
                                    <script type="text/javascript" charset="utf-8" src="http://qzonestyle.gtimg.cn/qzone/v6/interface/interface_v6_20121030.js?max_age=31536000"></script>
<script type="text/javascript">
    var ownermode = false;
    var g_StyleID = '88';
    var g_fullMode = 0;
    var g_frameStyle = 0;
    var g_Mode = 'gfp_group';
    g_V.qz = '_' + QZFL.version;
</script>

<style type="text/css">

</style>

<div id="minifix_editor" style="border:1px solid #ddd; width:100%">
    <div id="minifix_editor_toolbar">
        <!--div id="advanced_edit" style="margin-top: 6px; margin-right:5px; position: absolute;right: 20px;"><a href="/309916014/r/new?tId=329&pId=35280">高级模式</a></div-->
        <div id="minifix_editor_toolbar_warp">
        </div>
    </div>
    <div id="minifix_editor_content" style="padding:5px;min-height: 65px;">
        <div id="minifix_editor_content_warp">
            <div style="text-align: center;">
            <img src="http://dzqun.gtimg.cn/plaza/images/common/loading_editor.gif">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="mini_fContent" name="fContent" value="">
<script type="text/javascript">

jq(function(){
    seajs.use(['main'], function(main) {
        main.loadEditor(
            'minifix',
            'mini_fContent',
            100,
            'emotion,image'
        );
    });
});

</script>                                </div>
                                <p class="rbt mtn">
                                    <button tabindex="5" class="rp_btn fright ml20" id="fixpostsubmit" type="submit">我来发言</button>
                                </p>
                            </form>
                                                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="side fright">
            <div id="sidebar">
            <div class="thread_status_bar2">
               <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                                            <th><p><span id="vcount" class="xs5">169</span></p><span class="xs1 xw0">阅读</span></th>
                        <th><p><span id="rcount" class="xs5">23</span></p><span class="xs1 xw0">回复</span></th>
                    </tr>
                    </tbody>
                </table>
            </div>
                                            <div class="station" id="joinArea">
            <h2>最新入驻</h2>
                                    <ul class="item">
            <li class="img"><a href="/group/000mlifro" target="_blank"><img title="ScalersTalk成长会2016" alt="ScalersTalk成长会2016" src="http://p.qlogo.cn/gh/330154429/330154429/100" alt="" /></a></li>
            <li>
                <span class="name"><a href="/group/000mlifro" target="_blank">ScalersTalk成长会2016</a></span>
                <span class="num">成员 1170</span>
                </li></ul>
                        <div class="more"></div>
        </div>            </div>
        </div>
    </div>
    <div class="cl container nbgcolor nshadow">
        <div class="thread_status" style="display:none;">
            <form id="editorForm" method="post" autocomplete="off" action="/309916014/r/new/submit?tId=329">
            <input type="hidden" value="89fb7c76" name="CSRFToken" id="replyCSRFToken">
            <input type="hidden" value="true" name="replysubmit">
            <div id="mypostbox" style="display:none;">
                <script type="text/javascript" charset="utf-8" src="http://qzonestyle.gtimg.cn/qzone/v6/interface/interface_v6_20121030.js?max_age=31536000"></script>
<script type="text/javascript">
    var ownermode = false;
    var g_StyleID = '88';
    var g_fullMode = 0;
    var g_frameStyle = 0;
    var g_Mode = 'gfp_group';
    g_V.qz = '_' + QZFL.version;
</script>

<style type="text/css">

</style>

<div id="full_editor" style="border:1px solid #ddd; width:100%">
    <div id="full_editor_toolbar">
        <!--div id="advanced_edit" style="margin-top: 6px; margin-right:5px; position: absolute;right: 20px;"><a href="/309916014/r/new?tId=329&pId=35280">高级模式</a></div-->
        <div id="mini_editor_toolbar_warp">
        </div>
    </div>
    <div id="full_editor_content" style="padding:5px;min-height: 65px;background-color: #fff;">
        <div id="mini_editor_content_warp">
            <div style="text-align: center;">
            <img src="http://dzqun.gtimg.cn/plaza/images/common/loading_editor.gif">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="fContent" name="fContent" value="">
<script type="text/javascript">

jq(function(){
    seajs.use(['main'], function(main) {
        main.loadEditor(
            'mini',
            'fContent',
            60,
            'emotion,image'
            );
    });
});

</script>            </div>
            </form>
            <div class="thread_status_bar">
                <a class="xw1 thread_status_btnc" id="mysay_btn" href="javascript:;" onclick="pgvSendClick({hottag:'QGC.VIEWTHREAD.SAY.BUTTON'});">我来发言</a>
                                            </div>
        </div>
    </div>
    <div id="scrolltop" style="visibility: visible;display:none;">
        <span hidefocus="true"><a title="返回顶部" class="scrolltop" onclick="pgvSendClick({hottag:'QGC.VIEWTHREAD.TOP.BUTTON'});"><b>返回顶部</b></a></span>
        <span hidefocus="true"><a title="跳到底部" class="scrollbottom mtm" onclick="pgvSendClick({hottag:'QGC.VIEWTHREAD.BOTTOM.BUTTON'});"><b>返回顶部</b></a></span>
    </div>
<form id="replyFloor" method="post">
    <input type="hidden" name="CSRFToken" value="89fb7c76">
    <input type="hidden" name="tId" value="329">
    <input type="hidden" name="toPId">
    <input type="hidden" name="pId">
    <input type="hidden" name="rfContent">
</form>
<script type="text/javascript">
var isLock = 0 ? true : false;

template.helper('cutstr', function (content, len) {
    return jq.QP.mb_cutstr(content, len);
});
template.helper('substr', function (content, start, len) {
    return content.substr(start, len);
});
template.helper('isPostExist', function (pId) {
    pId = pId || 0;
    if (jq('#post_' + pId)[0]) {
        return true;
    } else {
        return false;
    }
});
jq(function(){
    seajs.use(['viewthread', 'join', 'moderate', 'recommend'], function(viewthread, join, moderate, recommend) {
        viewthread.init(isLock);
        join.init();
        moderate.init();
        recommend.init();
    });
    var shareSTID = null;
    var shareSwitch = false;
    var fadeTime = 300;
    jq('.share').live('mouseover', function(e) {
        var offset = jq(this).offset();
        var shareFloatObj = jq('.shareFloatDiv');

        shareFloatObj.css('top', offset['top']  + 35 + 'px');
        shareFloatObj.css('left', offset['left'] + 5+ 'px');

        shareFloatObj.fadeIn();
        if (shareSTID) {
            clearTimeout(shareSTID);
        }
    }).mouseout(function(e) {
        var shareFloatObj = jq('.shareFloatDiv');
        shareSTID = setTimeout(function(e) {
            shareFloatObj.fadeOut();
        }, fadeTime);
    });
    jq('.shareFloatDiv div').mouseover(function(e) {
        if (shareSTID) {
            clearTimeout(shareSTID);
        }
    }).mouseout(function(e) {
        var shareFloatObj = jq('.shareFloatDiv');
        shareSTID = setTimeout(function(e) {
            shareFloatObj.fadeOut();
        }, fadeTime);
        e.stopPropagation();
    });
});

</script>
<script id="floorList" type="text/html">

<% for (i in floorList) { %>
    <div class="replayitem cl">
        <span><img class="hruser" width="40px" src="<% if (floorList[i].authorAvatar) { %>http://shp.qlogo.cn/qgc_avatar/<%= floorList[i].authorUid %>/<%= floorList[i].authorUid %>/50<% } else { %>http://dzqun.gtimg.cn/plaza/images/common/noavatar.jpg<% } %>"></span>
        <div class="rpbox">
            <div class="postinfo mbn ptn">
                <b title="<%= floorList[i].author %>"><%= cutstr(floorList[i].author, 24) %></b>
                <span class="posttime"><% if (floorList[i].toAuthor) { %>回复 <em title="<%= floorList[i].toAuthor %>"><%= cutstr(floorList[i].toAuthor, 24) %></em><% } %>( <% if (floorList[i].createTime < 1473004800) { %><%== floorList[i].fCreatedTime %><% } else { %><%= substr(floorList[i].fCreatedTime, 11, 8) %><% } %> ) </span>
                <a href="javascript:;" author="<%= floorList[i].author %>" toPId="<% if (isList) { %>f_<% } %><%= floorList[i].toPId %>" pId="<%= floorList[i].pId %>" class="rreplay fright">回复</a>
                <% if ('0000kpHGW' == floorList[i].authorUid || 0) { %><a href="javascript:;" class="deleteFloor fright" pId="<%= floorList[i].pId %>" toPId="<%= floorList[i].toPId %>">删除</a><% } %>
                    <span class="op_item_floor fright" uid="<%= floorList[i].authorUid %>">
                        <% if (!floorList[i].isBaned && 0 && '0000kpHGW' != floorList[i].authorUid ) { %><a class="ban" title="禁言" href="javascript:;">禁言</a><% } %>
                        <% if (0) { %><a class="clear" title="清理" href="javascript:;">清理</a><% } %>
                    </span>
            </div>
            <div class="remessage"><%= floorList[i].content %></div>
        </div>
        <div id="floorReply_<% if (isList) { %>f_<% } %><%= floorList[i].toPId %>_<%= floorList[i].pId %>" class="fullvfastpost" style="display:none">
            <div class="rpost mtm">
                <div class="area">
                    <textarea rows="6" cols="80" name="rfContent" toPId="<% if (isList) { %>f_<% } %><%= floorList[i].toPId %>" pId="<%= floorList[i].pId %>" class="vrrmessage pt" tabindex="12" style="height:20px" ></textarea>
                </div>
                <div class="btns_out"><div class="btns mtn"><label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" toPId="<% if (isList) { %>f_<% } %><%= floorList[i].toPId %>" pId="<%= floorList[i].pId %>" type="submit" disabled="disabled">回复</button></label></div></div>
            </div>
        </div>
    </div>
<% } %>
</script>
<script id="floorListAndPage" type="text/html">
<% include('floorList') %>
<div class="pgt mtm cl">
    <% if (pageLinks) { %>
        <div class="pg fright" id="fLink">
            <%== pageLinks %>
        </div>
    <% } %>
    <% if (restFloorCount) { %>
        <span class="fleft collapse"><a href="javascript:;" class="hideMore" pId="<%= pId %>">收起回复</a></span>
    <% } %>
</div>
</script>
<script id="tmpl_reply_node" type="text/html">
<div<% if (hide) { %> style="display:none;"<% } %> id="post_<% if (replyData.pId) { %><%= replyData.pId %><% } else { %>0<% } %>">
    <table id="pid<%= replyData.pId%>" summary="pid<%= replyData.pId%>" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="pls">
                    <div class="avatar"><img width="64px;" height="64px" src="<% if (replyData.authorAvatar) { %>http://shp.qlogo.cn/qgc_avatar/<%= replyData.authorUid %>/<%= replyData.authorUid %>/50<% } else { %>http://dzqun.gtimg.cn/plaza/images/common/noavatar.jpg<% } %>" title="<%= replyData.credit %>/<%= replyData.nextLevelCredit %>"><img class="leveicon" src="http://dzqun.gtimg.cn/plaza/images/lv_<%= replyData.rank%>.gif"></div>
                </td>
                <td id="plc_<%= replyData.pId%>" class="plc postContent">
                    <div class="post_top" class="po">
                        <div class="topt fright">
                            <% if (replyData.isBaned) { %><span class="hban">已禁言</span><% } %>
                            <span class="op_item" uid="<%= replyData.authorUid %>" pid="<%= replyData.pId %>">
                                <% if (!replyData.isBaned && '0000kpHGW' != replyData.authorUid && 0) { %><a class="ban" title="禁言" href="javascript:;">禁言</a><% } %>
                                
                                <% if ('0000kpHGW' != replyData.authorUid && !0) { %><a class="report" title="" href="javascript:;">举报</a><% } %>
                                <% if ('0000kpHGW' == replyData.authorUid || 0) { %><a href="/309916014<% if (!replyData.pId) { %>/t/edit?tId=329<% } else { %>/r/edit?tId=329&pId=<%= replyData.pId %><% } %>">编辑</a><% } %>
                            </span>
                            <% if ('0000kpHGW' == replyData.authorUid || 0) { %><a class="delete" title="删除" href="javascript:;">删除</a><% } %>
                            <a href="javascript:;" class="<% if (!replyData.pId) { %>treply<% } else { %>rreplay<% } %>" toPId="<%= replyData.pId%>" pId="0">回复</a>
                        </div>
                        <p class="postinfo"><span class="postnum"><%= replyData.floorName %></span><span class="gn <% if (replyData.perm.redName) { %>rn<% } %><% if (replyData.perm.boldName) { %> bn<% } %>" title="<%= replyData.author %>"><%= cutstr(replyData.author, 24) %></span><% if (replyData.isGuest) {%><span class="utitle admint">嘉宾</span><%} else if (replyData.smRole == "admin") { %> <span class="utitle admint">管理员</span><% } else { %><% } %> <span class="posttime" title="<%= replyData.fCreatedTime %>"><% if (replyData.createTime < 1473004800) { %><%== replyData.fCreatedTime %><% } else { %><%= substr(replyData.fCreatedTime, 11, 8) %><% } %></span></p>
                    </div>
                    <div class="pct">
                        <div class="pctmessage mbm xs2" style="<% if(replyData.isGuest) {%>color:red;<%}%>"><%== replyData.content %></div>
                        <% if (replyData.pId) { %>
                        <!--楼中楼-->
                        <div id="replyFloorList_<%=replyData.pId%>" class="replaylist">
                            <div id="floorPre_<%=replyData.pId%>">
                                <%include('floorList', replyData)%>
                                <% if (replyData.restFloorCount) { %>
                                    <div class="rtip mtm"><a href="/309916014/f/list?tId=329&pId=<%=replyData.pId%>" class="clickMore">后面还有<em id="floorCount_<%= replyData.pId %>"><%= replyData.restFloorCount %></em>条，点击查看</a></div>
                                <% } %>
                            </div>
                            <div id="floorList_<%=replyData.pId%>" style="display:none;"></div>
                        </div>
                        
                        <div class="replayitem nborder npb cl floorReply" id="floorReply_<%= replyData.pId %>_0" <% if (!replyData.floorCount) { %>style="display:none;"<% } %>>
                            <span><img class="hruser" width="40px" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/50"></span>
                            <div class="rpost mtm">
                                <div class="area">
                                    <textarea rows="6" cols="80" name="rfContent" id="vrrmessage_<%= replyData.pId %>" toPId="<%= replyData.pId %>" pId="0" class="vrrmessage pt" tabindex="12" style="height:20px" placeholder="我来说一句"></textarea>
                                </div>
                                <div class="btns_out"><div class="btns mtn"><label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" id="rffastpostsubmit_<%= replyData.pId %>" toPId="<%= replyData.pId %>" pId="0" type="submit" disabled="disabled">回复</button></label></div></div>
                            </div>
                        </div>
                        
                        <% } %>
                    </div>
                    <div class="bopt mtm">
                        <% if (replyData.editorUid && replyData.editTime) { %><p class="edhistory fright">此帖于 <%= replyData.fLastEditTime %> 被编辑</p><% } %>
                        <%if (!replyData.pId) {%>
                        <ul id="p_btn">
                        <li class="<% if (!replyData.isLiked) { %>likethread<% } %>"><a id="likeThread" href="javascript:;" tId="329"><img src="http://dzqun.gtimg.cn/plaza/images/<% if (replyData.isLiked) { %>pic_zaned.png<% } else { %>pic_zan.png<% } %>" width="20px" height="17px" align="absmiddle"><span id="likePerson"<% if (replyData.likeNum < 1) { %> style="display:none;"<% } %>><span id="likeNum"><%= replyData.likeNum %></span></span>赞</a></li>
                            <li class="share"><a href="javascript:;"><img src="http://dzqun.gtimg.cn/plaza/images/pic_share.png" width="16px" height="16px" align="absmiddle"> 分享到</a></li>
                            <li class="post"><a href="javascript:;" class="treply"><img src="http://dzqun.gtimg.cn/plaza/images/pic_reply.png" width="20px" height="17px" align="absmiddle"> 发言</a></li>
                        </ul>
                        <% } %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</script>
<script id="tmpl_reply" type="text/html">
<div class="postblock" start="<%= preStart %>" to="<%= nextStart %>">
<% for (i in replyList) { %>
<% if (!isPostExist(replyList[i].pId)) { %>
<% include('tmpl_reply_node', {'replyData':replyList[i]}) %>
<% } %>
<% } %>
</div>
</script>
<script id="tmpl_recentMsg" type="text/html">
<% if (!floorNotice.isItem) { %>
 <div id="floorNotice_<%= floorNotice.pId %>" class="mbm reply-n-item">
     <table cellspacing="0" cellpadding="0">
         <tbody>
             <tr>
                 <td class="pls">
                     <img class="laba" src="http://dzqun.gtimg.cn/plaza/images/laba.png">
                 </td>
                 <td class="plc">
                     <div class="pct">
                        <% } %>
                        <div id="floorNoticeItem_<%= floorNotice.pId %>" class="replayitem cl noborder">
                            <span><img class="hruser" width="40px" src="<% if (floorNotice.authorAvatar) { %>http://shp.qlogo.cn/qgc_avatar/<%= floorNotice.authorUid %>/<%= floorNotice.authorUid %>/50<% } else { %>http://dzqun.gtimg.cn/plaza/images/common/noavatar.jpg<% } %>"></span>
                            <div class="rpbox">
                                <div class="postinfo mbn ptn">
                                    <b title="<%= floorNotice.author %>"><%= cutstr(floorNotice.author, 24) %></b>
                                    <span class="posttime">回复 <em title="<%= floorNotice.toAuthor %>"><%= cutstr(floorNotice.toAuthor, 24) %></em>( <% if (floorNotice.createTime < 1473004800) { %><%= floorNotice.fCreatedTime %><% } else { %><%= substr(floorNotice.fCreatedTime, 11, 8) %><% } %> ) </span>
                                    <% if (floorNotice.authorUid == "0000kpHGW") { %><a href="javascript:;" class="deleteFloor fright" pId="<%= floorNotice.pId %>" toPId="n_<%= floorNotice.toPId %>">删除</a><% } else { %><a href="javascript:;" author="<%= floorNotice.author %>" toPId="n_<%= floorNotice.toPId %>" pId="<%= floorNotice.pId %>" class="rreplay fright">回复</a><% } %>
                                </div>
                                <div class="remessage"><%= floorNotice.message %></div>
                            </div>
                            <div id="floorReply_n_<%= floorNotice.toPId %>_<%= floorNotice.pId %>" class="fullvfastpost" style="display:none">
                                <div class="rpost mtm">
                                    <div class="area">
                                        <textarea rows="6" cols="80" name="rfContent" toPId="n_<%= floorNotice.toPId %>" pId="<%= floorNotice.pId %>" class="vrrmessage pt" tabindex="12" style="height:20px"></textarea>
                                    </div>
                                    <div class="btns_out">
                                        <div class="btns mtn">
                                            <label class="nlg_button_wrapper" style="display:none"><button tabindex="5" class="rp_btn fright nmr nlg_btn rffastpostsubmit" toPId="n_<%= floorNotice.toPId %>" pId="<%= floorNotice.pId %>" type="submit" disabled="disabled">回复</button></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (!floorNotice.isItem) { %>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<% } %>
</script>


<script type="text/javascript">
window['statIDs'] = [7834,3,8];
</script>

<script type="text/javascript">
var showPublic = false;

if (showPublic) {
    var publicMsg = "您的频道目前为公开状态，请注意保护隐私和保持内容的合法性~";
    art.dialog({
        title: '系统提示',
        content: publicMsg,
        okValue: '确定',
        ok: function () {
            return true;
        }
    });
}

</script>
<div id="cover"></div>
<div id="alertmsg" class="shadow">
<div class="alertmsg-box">
        <!--关闭按钮的位置需要按需定位，引导图片直接替换图片名称即可-->
       <div id="guidePic"></div>
       <div id="closeGuide"></div>
    </div>
</div>

    <!-- app_qun_inner end -->
<div class="lay_copyright">
    <p class="copyright_en">Copyright &copy; 2005 - 2016 Tencent. <a target="_blank" class="c_tx2" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml">All Rights Reserved.</a></p>
    <p class="copyright_cn">腾讯公司 <a target="_blank" class="c_tx2" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml">版权所有</a> <a target="_blank" class="c_tx2" href="/agreement">用户协议</a></p>
</div>
<script type="text/javascript">
var guidePics = '';
guidePics = guidePics.substr(1, guidePics.length - 1);
guidePics = guidePics.substr(0, guidePics.length - 1);

if (guidePics) {
    guidePics = guidePics.split(",");
}
jq(function(){
    {* seajs.use(['main', 'realtime', 'guide'], function(main, realtime, guide) { *}
    seajs.use(['main', 'guide'], function(main, guide) {
        main.init();
        {* realtime.init(); *}
        if (PAGEID == "forumdisplay" || PAGEID == "viewthread" || PAGEID == "editthread") {
            guide.init();
        }
    });
});

</script>
<!--_profiler_result-->


<!-- 腾讯分析统计 -->
<!--script type="text/javascript" src="http://tajs.qq.com/stats?sId=22701361&logo=255" charset="UTF-8"></script-->


<!-- 点击流统计 -->
<!--script type="text/javascript" src="http://pingjs.qq.com/tcss.ping.js"></script>
<script type="text/javascript">
    setTimeout(function() {
        if (typeof(pgvMain) == 'function') {
            if(typeof(_virtualDomain) == 'undefined') {
                pgvMain();
            } else {
                pgvMain({"virtualDomain":_virtualDomain});
            }
        }
    }, 10);
</script-->

<script type="text/javascript" charset="utf-8" src="http://imgcache.qq.com/ac/qzfl/stat.js"></script>
<script type="text/javascript">

window['statIDs'] && jq(function() {
    var autoJsMark = new Date() - _domDoneMark;
    seajs.use('stat', function(stat) {
        speedStat = stat;
        speedStat.speedInit();
        speedStat.speedAddPoint('pageload', statIDs, 1, _domDoneMark, _speedMark);
        speedStat.speedAddPoint('pageload', statIDs, 2, autoJsMark , _speedMark);
    });
});

</script>
</body>
</html>
