<!DOCTYPE html>
<html lang="zh-cn" class="os_win7">
<head>
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="max-age=31536000" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>提示信息 - 群论坛</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="baidu-site-verification" content="Fu0Derq94Q" />
    <!--link rel="Shortcut Icon" href="http://cn.qzonestyle.gtimg.cn/qzone_v6/img/favicon.ico?max_age=31536000" type="image/x-icon" /-->
    <link href="http://dzqun.gtimg.cn/plaza/styles/app_qunbbs.css?v=20130806" rel="stylesheet">
    <link href="http://dzqun.gtimg.cn/plaza/styles/dialog.css?v=20130524" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/gb_card_out.css" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/qz_dialog.css" rel="stylesheet">
        <link href="http://dzqun.gtimg.cn/plaza/styles/style_mod.css?v=20130806" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/jquery.min.js?v=1.6.4"></script>
    <script type="text/javascript">
        var dzqunDomain = "http://dzqun.gtimg.cn";
        var siDomain = 'qzonestyle.gtimg.cn';
        var imgcacheDomain = 'qzs.qq.com';
        var IMGCACHE_DOMAIN = 'qzs.qq.com';
        var jq = jQuery.noConflict();
        
        jq(function(){
            window['_domDoneMark'] = new Date();
        });
        
        //var siDomain = 'cn.qzonestyle.gtimg.cn';
        var dzqunUin = 4865368;
        var S_NICK_URL = "309916014";
        var sId = 309916014;
        var _s_ = new Date(1473082068*1000);
        var g_NowTime = 1473082068;
        var CSRFToken = "89fb7c76";
        var qgcDomain = "qgc.qq.com";
        var uid = '0000kpHGW';
        var PAGEID = 'viewthread';
        var isGray = '0';
        var pageMod = '';
        var isLive = 0;        // 所有页面的JS 请扩展当此对象中
        
        var QPJS = QPJS || {};
        
    </script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/common.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" src="http://qzonestyle.gtimg.cn/ac/qzfl/release/qzfl_for_qzone.js?max_age=31536000"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/qzfl.login.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://ui.ptlogin2.qq.com/js/ptloginout.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/template.min.js?v=1.0.0"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/main.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" id="sea" src="http://dzqun.gtimg.cn/plaza/scripts/seajs.js?v=20130603"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/jquery.QP.js?v=1.0.0"></script>
</head>
<body class="bg vthread private_channel">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="header">
        <div class="nav">
            <ul>
                <li class="font20 white"><a href="/" class="homeUrl">QQ群论坛<sup> Beta</sup></a></li>
                <li><a href="/my">我的频道</a></li>
           </ul>
            <ol>
                                <li id="msglink">
    <a id="msglink_a" href="javascript:;">消息</a>
    <div id="msgbox">
        <div class="top"></div>
        <div class="box_up"></div>
        <div class="box_main">
            <div class="box_pad">
                <div id="box_cnt">
                    <div id="msgloading"><i>加载中......</i></div>
                </div>
            </div>
        </div>
        <div class="box_set">
            <span class="ml" id="abortall"><a href="javascript:;">忽略全部</a></span>
            <span>|</span>
            <span><a href="/notice">查看已读</a></span>
            <span class="fr"><a href="/notice/setting">设置</a></span>
        </div>
    </div>
    <div id="msgtip" class="msgtip_bg" style=""></div>
</li>
<script id="tmpl_notice" type="text/html">
<% for(i in noticeList) { %>
<% if (!isMsgExist(noticeList[i].bizkey)) { %>
<div id="<%= noticeList[i].bizkey%>"><%== noticeList[i].notice %></div>
<% } %>
<% } %>
</script>
<script type="text/javascript">
seajs.use('notice', function(notice) {
    notice.init();
});
</script>                <li><a href="/my" title="shawn">shawn</a></li>
                <li><a href="javascript:;" onclick="jq.QP.logoutConfirm()">退出</a></li>
                                <li> | </li>
                <li><a href="http://support.qq.com/discuss/984_1.shtml" id="support" target="_blank">反馈建议</a></li>
                <li><a href="http://kf.qq.com/menu/4877_1.html" id="kf" target="_blank">客服专区</a></li>
                                                          </ol>
        </div>
    </div>
    <script type="text/javascript">
        jq('#support').attr('href', jq('#support').attr('href') + '?SSTAG=' + window.location.href);
    </script>    <div class="container">
    <div class="content cl">
        <div class="alert">
            <div class="error">
                <p>请登录后再进行此操作<span style="display: none;">&nbsp;&nbsp;[30426]</span></p>
                                    
                    <script type="text/javascript">
                        if (history.length > (jq.browser.msie ? 0 : 1)) {
                            document.write('<p><a href="javascript:history.back();">后退</a></p>');
                        } else {
                            document.write('<p><a href="javascript:window.close();">关闭</a></p>');
                        }
                    </script>
                    
                                                <script type="text/javascript">
                    jq(function(){jq.QP.showLoginBox()});
                </script>
                            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var showPublic = false;

if (showPublic) {
    var publicMsg = "您的频道目前为公开状态，请注意保护隐私和保持内容的合法性~";
    art.dialog({
        title: '系统提示',
        content: publicMsg,
        okValue: '确定',
        ok: function () {
            return true;
        }
    });
}

</script>
<div id="cover"></div>
<div id="alertmsg" class="shadow">
<div class="alertmsg-box">
        <!--关闭按钮的位置需要按需定位，引导图片直接替换图片名称即可-->
       <div id="guidePic"></div>
       <div id="closeGuide"></div>
    </div>
</div>

    <!-- app_qun_inner end -->
<div class="lay_copyright">
    <p class="copyright_en">Copyright &copy; 2005 - 2016 Tencent. <a target="_blank" class="c_tx2" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml">All Rights Reserved.</a></p>
    <p class="copyright_cn">腾讯公司 <a target="_blank" class="c_tx2" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml">版权所有</a> <a target="_blank" class="c_tx2" href="/agreement">用户协议</a></p>
</div>
<script type="text/javascript">
var guidePics = '';
guidePics = guidePics.substr(1, guidePics.length - 1);
guidePics = guidePics.substr(0, guidePics.length - 1);

if (guidePics) {
    guidePics = guidePics.split(",");
}
jq(function(){
    {* seajs.use(['main', 'realtime', 'guide'], function(main, realtime, guide) { *}
    seajs.use(['main', 'guide'], function(main, guide) {
        main.init();
        {* realtime.init(); *}
        if (PAGEID == "forumdisplay" || PAGEID == "viewthread" || PAGEID == "editthread") {
            guide.init();
        }
    });
});

</script>
<!--_profiler_result-->


<!-- 腾讯分析统计 -->
<!--script type="text/javascript" src="http://tajs.qq.com/stats?sId=22701361&logo=255" charset="UTF-8"></script-->


<!-- 点击流统计 -->
<!--script type="text/javascript" src="http://pingjs.qq.com/tcss.ping.js"></script>
<script type="text/javascript">
    setTimeout(function() {
        if (typeof(pgvMain) == 'function') {
            if(typeof(_virtualDomain) == 'undefined') {
                pgvMain();
            } else {
                pgvMain({"virtualDomain":_virtualDomain});
            }
        }
    }, 10);
</script-->

<script type="text/javascript" charset="utf-8" src="http://imgcache.qq.com/ac/qzfl/stat.js"></script>
<script type="text/javascript">

window['statIDs'] && jq(function() {
    var autoJsMark = new Date() - _domDoneMark;
    seajs.use('stat', function(stat) {
        speedStat = stat;
        speedStat.speedInit();
        speedStat.speedAddPoint('pageload', statIDs, 1, _domDoneMark, _speedMark);
        speedStat.speedAddPoint('pageload', statIDs, 2, autoJsMark , _speedMark);
    });
});

</script>
</body>
</html>
