<!DOCTYPE html>
<html lang="zh-cn" class="os_win7">
<head>
    <script type="text/javascript">
        var _speedMark = new Date();
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="max-age=31536000" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>我的频道 - 群论坛</title>
    <meta name="keywords" content="我的频道">
    <meta name="description" content="频道">
    <meta name="baidu-site-verification" content="Fu0Derq94Q" />
    <!--link rel="Shortcut Icon" href="http://cn.qzonestyle.gtimg.cn/qzone_v6/img/favicon.ico?max_age=31536000" type="image/x-icon" /-->
    <link href="http://dzqun.gtimg.cn/plaza/styles/app_qunbbs.css?v=20130806" rel="stylesheet">
    <link href="http://dzqun.gtimg.cn/plaza/styles/dialog.css?v=20130524" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/gb_card_out.css" rel="stylesheet">
    <link href="http://qzonestyle.gtimg.cn/qzone_v6/qz_dialog.css" rel="stylesheet">
        <link href="http://dzqun.gtimg.cn/plaza/styles/style_mod.css?v=20130806" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/jquery.min.js?v=1.6.4"></script>
    <script type="text/javascript">
        var dzqunDomain = "http://dzqun.gtimg.cn";
        var siDomain = 'qzonestyle.gtimg.cn';
        var imgcacheDomain = 'qzs.qq.com';
        var IMGCACHE_DOMAIN = 'qzs.qq.com';
        var jq = jQuery.noConflict();
        
        jq(function(){
            window['_domDoneMark'] = new Date();
        });
        
        //var siDomain = 'cn.qzonestyle.gtimg.cn';
        var dzqunUin = 4865368;
        var S_NICK_URL = "";
        var sId = 0;
        var _s_ = new Date(1472990876*1000);
        var g_NowTime = 1472990876;
        var CSRFToken = "89fb7c76";
        var qgcDomain = "qgc.qq.com";
        var uid = '0000kpHGW';
        var PAGEID = 'plaza';
        var isGray = '0';
        var pageMod = '1';
                // 所有页面的JS 请扩展当此对象中
        
        var QPJS = QPJS || {};
        
    </script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/common.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" src="http://qzonestyle.gtimg.cn/ac/qzfl/release/qzfl_for_qzone.js?max_age=31536000"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/qzfl.login.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://ui.ptlogin2.qq.com/js/ptloginout.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/template.min.js?v=1.0.0"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/main.js?v=20130630"></script>
    <script type="text/javascript" charset="utf-8" id="sea" src="http://dzqun.gtimg.cn/plaza/scripts/seajs.js?v=20130603"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/config.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dzqun.gtimg.cn/plaza/scripts/plugin/jquery.QP.js?v=1.0.0"></script>
</head>
<body class="bg">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="header">
        <div class="nav">
            <ul>
                <li class="font20 white"><a href="/" class="homeUrl">QQ群论坛<sup> Beta</sup></a></li>
                <li><a href="/my">我的频道</a></li>
           </ul>
            <ol>
                                <li id="msglink">
    <a id="msglink_a" href="javascript:;">消息</a>
    <div id="msgbox">
        <div class="top"></div>
        <div class="box_up"></div>
        <div class="box_main">
            <div class="box_pad">
                <div id="box_cnt">
                    <div id="msgloading"><i>加载中......</i></div>
                </div>
            </div>
        </div>
        <div class="box_set">
            <span class="ml" id="abortall"><a href="javascript:;">忽略全部</a></span>
            <span>|</span>
            <span><a href="/notice">查看已读</a></span>
            <span class="fr"><a href="/notice/setting">设置</a></span>
        </div>
    </div>
    <div id="msgtip" class="msgtip_bg" style="">0</div>
</li>
<script id="tmpl_notice" type="text/html">
<% for(i in noticeList) { %>
<% if (!isMsgExist(noticeList[i].bizkey)) { %>
<div id="<%= noticeList[i].bizkey%>"><%== noticeList[i].notice %></div>
<% } %>
<% } %>
</script>
<script type="text/javascript">
seajs.use('notice', function(notice) {
    notice.init();
});
</script>                <li><a href="/my" title="shawn">shawn</a></li>
                <li><a href="javascript:;" onclick="jq.QP.logoutConfirm()">退出</a></li>
                                <li> | </li>
                <li><a href="http://support.qq.com/discuss/984_1.shtml" id="support" target="_blank">反馈建议</a></li>
                <li><a href="http://kf.qq.com/menu/4877_1.html" id="kf" target="_blank">客服专区</a></li>
                          </ol>
        </div>
    </div>
    <script type="text/javascript">
        jq('#support').attr('href', jq('#support').attr('href') + '?SSTAG=' + window.location.href);
    </script><div class="qun-info-head">
    <div class="opacity"></div>
    <div class="qun-logo cl">
        <img id="setavatar" class="fleft" src="http://shp.qlogo.cn/qgc_avatar/0000kpHGW/0000kpHGW/100?r=1472990876" alt="shawn" title="shawn" />
        <div class="qun-channel-my mtw ml20 fleft">
            <h2 class="xs5 xw0 white mtw mbm">shawn</h2>
            <a id="changeAvatar" href="javascript:;">更换头像</a>
        </div>
    </div>
</div>
<div class="container qun-info-box">
    <!--导航开始 -->
    <div class="qun-channel-mynav">
        <ul class="cl">
            <li class="curr"><a href="/my">我的频道</a></li>
            <li><a href="/notice">消息</a></li>
            <li><a href="/thread">我的帖子</a></li>
        </ul>
    </div>    <!--主内容区开始 -->
    <div class="qgc-index-main-body myfavor boxitems">
                            <h3 class="xw0">我可能感兴趣</h3>
        <ul class="cl" id="interested_site_list">
                                    <li id="s_312411773">
            <a href="/312411773"><img  title="2010_whu_cs" alt="2010_whu_cs" src="http://p.qlogo.cn/gh/2511110/2511110/100"></a>
            <div class="cnt">
                <span class="name"><a href="/312411773">2010_whu_cs</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 0</span>
                <span class="desc">这是2010_whu_cs创建的群广场私密频道</span>
            </div>
            </li>
                                                <li id="s_216834023">
            <a href="/216834023"><img  title="SENCOM" alt="SENCOM" src="http://p.qlogo.cn/gh/20791094/20791094/100"></a>
            <div class="cnt">
                <span class="name"><a href="/216834023">SENCOM</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 0</span>
                <span class="desc">SENCOM</span>
            </div>
            </li>
                                                <li id="s_4402364">
            <a href="/4402364"><img  title="天津职业技术师范大学" alt="天津职业技术师范大学" src="http://p.qlogo.cn/gh/37924477/37924477/100"></a>
            <div class="cnt">
                <span class="name"><a href="/4402364">天津职业技术师范大学</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 43</span>
                <span class="desc">天津职业技术师范大学</span>
            </div>
            </li>
                                                <li id="s_245521824">
            <a href="/245521824"><img  title="紫婷菊" alt="紫婷菊" src="http://p.qlogo.cn/gh/75415482/75415482/100"></a>
            <div class="cnt">
                <span class="name"><a href="/245521824">紫婷菊</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 8</span>
                <span class="desc">这是紫婷菊创建的群广场私密频道</span>
            </div>
            </li>
                                                <li id="s_237203280">
            <a href="/237203280"><img  title="武汉高校马拉松爱好者" alt="武汉高校马拉松爱好者" src="http://p.qlogo.cn/gh/142426589/142426589/100"></a>
            <div class="cnt">
                <span class="name"><a href="/237203280">武汉高校马拉松爱好者</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 50</span>
                <span class="desc">入群者请先按wuhanmarathon.blog.163.com/blog/static/18664248820114190913305 的格？</span>
            </div>
            </li>
                                                <li id="s_245910053">
            <a href="/245910053"><img  title="口译100小时训练计划" alt="口译100小时训练计划" src="http://p.qlogo.cn/gh/231441722/231441722/100"></a>
            <div class="cnt">
                <span class="name"><a href="/245910053">口译100小时训练计划</a></span>
                <span class="num">QQ群 1<span>|</span>帖子 401</span>
                <span class="desc">口译及其他项目的100小时征途。群内名称修改为[xxx]姓名-城市，xxx为已经进行的小时数</span>
            </div>
            </li>
                                </ul>
        <p class="showmore pbm nborder" mtype="2" listid="interested_site_list" mpage="2"><a href="javaScript:;">展开更多 >></a></p>
                </div>

<script id="tmpl_site" type="text/html">
<% for (i in sites) { %>
<li id="s_<%= sites[i].sId %>">
    <a href="/<%= sites[i].sId %>"><img title="<%= sites[i].sName %>" alt="<%= sites[i].sName %>" src="<% if (sites[i].isLogo) { %><%= sites[i].logo.small %><% } else { %>http://dzqun.gtimg.cn/plaza/images/common/nologo.jpg<% } %>"></a>
    <div class="cnt">
        <span class="name"><a href="/<%= sites[i].sId %>"><%= sites[i].sName %></a></span>
        <span class="num">QQ群 <%= sites[i].groupCount %><span>|</span>帖子 <%= sites[i].threadCount %></span>
        <span class="desc"><%= sites[i].sDesc %></span>
    </div>
</li>
<% } %>
</script>
<script type="text/javascript">
jq(function(){
    seajs.use('mysite', function(mysite) {
        mysite.init();
    });
});
window['statIDs'] = [7834,3,2];

</script>
<!--主内容区结束，侧边栏开始 -->
</div>
<script type="text/javascript">
jq(function(){
    seajs.use('avatar', function(avatar) {
        avatar.init();
    });
});
</script>
<script type="text/javascript">
var showPublic = false;

if (showPublic) {
    var publicMsg = "您的频道目前为公开状态，请注意保护隐私和保持内容的合法性~";
    art.dialog({
        title: '系统提示',
        content: publicMsg,
        okValue: '确定',
        ok: function () {
            return true;
        }
    });
}

</script>
<div id="cover"></div>
<div id="alertmsg" class="shadow">
<div class="alertmsg-box">
        <!--关闭按钮的位置需要按需定位，引导图片直接替换图片名称即可-->
       <div id="guidePic"></div>
       <div id="closeGuide"></div>
    </div>
</div>

    <!-- app_qun_inner end -->
<div class="lay_copyright">
    <p class="copyright_en">Copyright &copy; 2005 - 2016 Tencent. <a target="_blank" class="c_tx2" href="http://www.tencent.com/en-us/le/copyrightstatement.shtml">All Rights Reserved.</a></p>
    <p class="copyright_cn">腾讯公司 <a target="_blank" class="c_tx2" href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml">版权所有</a> <a target="_blank" class="c_tx2" href="/agreement">用户协议</a></p>
</div>
<script type="text/javascript">
var guidePics = '';
guidePics = guidePics.substr(1, guidePics.length - 1);
guidePics = guidePics.substr(0, guidePics.length - 1);

if (guidePics) {
    guidePics = guidePics.split(",");
}
jq(function(){
    {* seajs.use(['main', 'realtime', 'guide'], function(main, realtime, guide) { *}
    seajs.use(['main', 'guide'], function(main, guide) {
        main.init();
        {* realtime.init(); *}
        if (PAGEID == "forumdisplay" || PAGEID == "viewthread" || PAGEID == "editthread") {
            guide.init();
        }
    });
});

</script>
<!--_profiler_result-->


<!-- 腾讯分析统计 -->
<!--script type="text/javascript" src="http://tajs.qq.com/stats?sId=22701361&logo=255" charset="UTF-8"></script-->


<!-- 点击流统计 -->
<!--script type="text/javascript" src="http://pingjs.qq.com/tcss.ping.js"></script>
<script type="text/javascript">
    setTimeout(function() {
        if (typeof(pgvMain) == 'function') {
            if(typeof(_virtualDomain) == 'undefined') {
                pgvMain();
            } else {
                pgvMain({"virtualDomain":_virtualDomain});
            }
        }
    }, 10);
</script-->

<script type="text/javascript" charset="utf-8" src="http://imgcache.qq.com/ac/qzfl/stat.js"></script>
<script type="text/javascript">

window['statIDs'] && jq(function() {
    var autoJsMark = new Date() - _domDoneMark;
    seajs.use('stat', function(stat) {
        speedStat = stat;
        speedStat.speedInit();
        speedStat.speedAddPoint('pageload', statIDs, 1, _domDoneMark, _speedMark);
        speedStat.speedAddPoint('pageload', statIDs, 2, autoJsMark , _speedMark);
    });
});

</script>
</body>
</html>
